body {
    background:olivedrab;
    text-align:center;
    line-height:150%;
    letter-spacing:1px;
}

ol, ul {
    text-align:left;
    margin:0 50px;
}

p, ol, ul, caption {
    background-color: tan;
}

ol li, ul li {
    padding: 10px 0;
}

a {
    color:black;
}

a:hover {
    color:white;
}

/* p, ol, caption {
    padding:20px;
} */

footer {
    bottom: 0;
    margin-top:10px;
}